<h1>New Haiku</h1>
<!-- <% @haiku.user_id = @id.to_i %> -->
<%= form_for @haiku do |f| %>
<%= f.label :title %>:
<%= f.text_field :title %><br>
<%= f.label :body %>:
<%= f.text_field :body %>
<%= f.submit %>
<% end %>
<hr>
<%= link_to "Back", users_path, :class => "btn btn-default" %>
